.search-bar {
    background: #d43434 !important;
    color: #fff;
}

.video-list {
    overflow: scroll;
    height: 570px;
}

.video-item {
    display: flex !important;
    align-items: center !important;
    cursor: pointer;
}

.video-item.item img {
    max-width: 180px;
}

.render-loader {
    height: 300px;
}